@media screen and (max-width: 768px) {
	body.modal-open {
		padding: 0;
	}

	.comments-dashboard {
		max-width: unset;
	}

	.replies-thread {
		margin-left: 0;
		padding-left: 1.4rem;
	}

	/* CommentCard */
	.comment-card-grid {
		grid-template-areas:
			"header header"
			"content content"
			"score actions"
		;

		grid-template-columns: min-content auto;
		gap: 1rem;
	}

	/* CommentScore */
	.comment-score {
		align-self: center;
		font-size: 1.2em;
		padding: .7rem;

		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}

	.btn-score {
		box-sizing: content-box;
		height: 1.2rem;
		margin: 0;
	}

	.btn-score > img {
		width: 1.2rem;
	}

	/* Add comment form */
	.add-comment-form {
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	.add-comment-form > .comment-content-input {
		order: 1;
		width: 100%;
	}

	.add-comment-form > .comment-picture {
		order: 2;
	}

	.add-comment-form > button {
		order: 3;
	}

}

@media screen and (max-width: 576px) {

	.modal-content {
		padding: 1rem;
	}

	.replies-thread {
		padding-left: 1rem;
	}

	.comment-content-input {
		padding: .5rem;
	}
	
	/* CommentCard */
	.comment-card {
		padding: 1rem;
	}

	.comment-picture {
		height: 2rem;
	}

	.comment-card-grid {
		gap: 1rem .5rem;
	}

	.comment-header {
		flex-wrap: wrap;
	}

	/* CommentAuthor */
	.comment-author {
		gap: .5rem;
	}

	.comment-username {
		font-size: 1em;
	}

	.logged-in-tag {
		font-size: .9em;
		padding: 0 .4rem .2rem .4rem;
	}

	/* CommentScore */
	.comment-score {
		font-size: 1em;
		padding: .5rem;
		gap: .7rem;
	}

	.btn-score {
		height: 1rem;
	}

	.btn-score > img {
		width: 1rem;
	}

	/* CommentActions */
	.comment-actions {
		flex-wrap: wrap;
		gap: .5rem;
	}

	.btn-action {
		font-size: 1em;
	}
}
